appnope 
backcall 
backports.functools-lru-cache==1.6.1
bokeh 
certifi==2020.6.20
click==7.1.2
cssselect==1.1.0
decorator==4.4.2
dominate==2.4.0
Flask==0.12.5
flask-appconfig==0.11.1
Flask-Bootstrap==3.3.7.1
Flask-Debug==0.4.3
flask-nav==0.6
Flask-WTF==0.14.3
inflection==0.5.1
ipython==7.12.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi 
Jinja2==2.11.2
numpy 
olefile 
packaging 
pandas==1.1.4
parso 
pexpect 
pickleshare 
Pillow 
prompt-toolkit 
ptyprocess==0.6.0
Pygments 
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein 
pytz 
PyYAML==5.3.1
six 
tornado 
traitlets==4.3.3
typing-extensions 
visitor==0.1.3
wcwidth 
WTForms 
MarkupSafe==1.1.1
Werkzeug==1.0.1
whitenoise==5.2.0
gunicorn
python-decouple
lxml
