{% extends "bootstrap/base.html" %}
{% block title %}Team{% endblock %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}


{% block content %}

<div class="container">
  <h1>team </h1>

    <p> Forbidden Territories is a project developed by <b>Andrés Ferraro</b>, <b>Rita Geleta</b>, <b>Sylvain Le Groux</b>, <b>Gema FB Martin</b> and <b>Alberto González Pulido</b>
      during the sónar+D innovation challenge (SIC) in November 2020. </p>
 
 
  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="static/andres.jpeg" width="150" height="150" alt="portrait">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Andrés Ferraro</h4>
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="static/rita.png" width="150" height="150" alt="portrait">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Rita Geleta</h4>
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="https://ccrma.stanford.edu/~slegroux/"">
        <img class="media-object" src="static/syl20.jpg" width="150" height="150" alt="portrait">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Sylvain Le Groux</h4>
      <ul>
        <li>Musician, AI scientist and psychologist </li>
        <li>Worked on: <a href="https://freemuse.org/">freemuse</a> parser, <a href="https://www.spotify.com">Spotify</a> playlist generator, website skeleton (<a href="https://flask.palletsprojects.com/">Flask</a> and <a href="https://getbootstrap.com/"> Bootstrap</a>), copy </li>
      </ul>
      
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="static/gema.png" width="150" height="150" alt="portrait">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Gema FB Martin</h4>
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="static/alberto.png" width="150" height="150" alt="portrait">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Alberto González Pulido</h4>
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
      This is a blurb about a team member This is a blurb about a team member
    </div>
  </div>
</div>
{% endblock %}
