{% extends "bootstrap/base.html" %}
{% block title %}About{% endblock %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}
<div class="container">
   <p style="margin-bottom: 25px;margin-top: 5px;width: 100%;">
      
      <link href="https://fonts.googleapis.com/css2?family=Mali&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet"> 
<div class="container">
  <h1>project and team </h1>
  
  <p> Forbidden Territories is a project developed by Rita Geleta, Andrés Ferraro, Alberto González Pulido, Sylvain Le Groux and Gema FB Martin 
    during the sónar+D innovation challenge (SIC) in November 2020 <p>
  
  <p> Our main goals with that project are:<p>
  
  <p> _Letting the artists know which words in what context and which lyrics are/were censored in every country.<p>

  <p> _Letting the artists know which in what context and which lyrics could be censored through the censorship predictive model.<p>

  <p> _Visualize censorship through data in every country.<p>

  <p> _Visualize which words are trending topics around the globe.<p>

  </style>
    
  
  
  
</div>
{% endblock %}
