
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Censored music</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css"/>
        {% block title %}{% endblock %}
    </head>

    <body>

        <nav>
            <div class="title">
                Forbidden music map
            </div>
        </nav>

        <section class="hero">
            <div>{% block content %}{% endblock %}</div>
        </section>
        <main>
            <div></div>

        </main>
    </body>
</html>