{% extends "bootstrap/base.html" %}
{% block title %}Forbidden territories{% endblock %}

{%- block metas %}
  <meta charset="utf-8"/>
{%- endblock metas %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}

<div class="container">
  <h1>Forbidden territories<h1>
      <h2 style="font-weight: normal !important;">Sónar+D innovation challenge (SIC) 2020<h2>
      <h2>music censorship and discrimination<h2>
</div>

<div class="container">
  <div class="image-container">
    <img src="/static/sonar.svg"  height="60">
    <img src="/static/FuturePulse_logo.png"  height="30">
  </div>
</div>
{% endblock %}

{% block footer %}
<container><p>toto</p></container>
{% endblock %}
