{% extends "bootstrap/base.html" %}
{% block title %}Forbidden territories{% endblock %}

{%- block metas %}
  <meta charset="utf-8"/>
{%- endblock metas %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}


<div class="container">
  <h1>Forbidden Territories </h1>
    <!-- <h2>Sónar+D innovation challenge (SIC) 2020</h2> -->
    <h2>Music censorship and discrimination</h2>
      <p> Our main goals with that project are:</p>
      <ul>
        <li> Letting the artists know which words in what context and which lyrics are / were censored in every country.</li>
        <li> Letting the artists know which in what context and which lyrics could be censored through the censorship predictive model.</li>
        <li> Visualize censorship through data in every country.</li>
        <li> Visualize which words are trending topics around the globe.</li>
      </ul>
</div>

<div class="container">
  <p></p>
</div>

<div class="container">
  <img src="static/forbidden_img.jpg" class="img-circle" alt="image" height="400" width="400">
</div>

<div class="container">
  <p></p>
</div>

<div class="container">
  <!-- <div class="image-container"> -->
    <img src="/static/sonar.svg" class="rounded pull-left" height="60">
    <img src="/static/FuturePulse_logo.png" class="rounded pull-right" height="30">
  <!-- </div> -->
</div>
{% endblock %}
