{% extends "bootstrap/base.html" %}

{% block title %}Map{% endblock %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css" />
    <style type="text/css">
        .navbar{
            margin-bottom: 0 !important;
        }
        .leaflet-container{background-color:#c5e8ff;}
    </style>

    <div id="map" style="width: 100%; height: 100vh;"></div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
    <script>
        // https://geojson-maps.ash.ms/
        var data = JSON.parse('{{ data | tojson | safe}}');;
        var myCustomStyle = {
            stroke: true,
            weight: 1,
            color: 'gainsboro',
            fill: true,
            fillColor: 'white',
            fillOpacity: 1
        }
        var map = L.map('map').setView([40, 0], 1.5);
        
        var prevLayerClicked = null;

        var defaultStyle =  {
            weight: 1,
            color: 'white',
            dashArray: '',
            fillOpacity: 0.9,
            fillColor: 'white'
        }

        var selectedStyle =  {
            weight: 1,
            color: '#009cb3',
            dashArray: '',
            fillOpacity: 0.9,
            fillColor: '#009cb3'
        }

        function onEachFeature (feature, layer) {
            layer.on({
                click: function(e){
                    // If you have a layer inside  this variable
                    if (prevLayerClicked !== null) {
                        // Reset style
                        prevLayerClicked.setStyle(defaultStyle);
                    }

                    // Do your things here
                    map.fitBounds(e.target.getBounds());
                    var layer = e.target;

                    layer.setStyle(selectedStyle);

                    // Store clicked layer into this variable
                    prevLayerClicked = layer;
                }
            });

            layer.bindPopup( 
                "<p class='info_paragraph'><b> Country: </b> " +
                feature.properties.name + "</p>" +
                "<form action=" + feature.properties.name.toLowerCase().split(' ').join('_') + ">" + 
                    "<input type='submit' value='Go to stats'/>" + 
                "</form>"
            );
        };

        L.geoJson(data, {
            clickable: true,
            style: myCustomStyle,
            onEachFeature: onEachFeature,
        }).addTo(map);
        
    </script>
{% endblock %}

{% block footer %}
{% endblock %}
