{% extends "bootstrap/base.html" %}
{% block title %}Query Lyric{% endblock %}

{% block navbar %}
{{nav.top.render()}}
{% endblock %}

{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mali&family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet"> 

<style>
    :root {
        --pulse: #009cb3;
        --pulse-light: #5bad8b; 
        --pulse-dark: #3f869b;
        --pad: 20px;
    }

    .lyrics-wrapper {
    width: 50%;
    height: 380px;
    background-color: white;
    box-shadow: 0 0 40px rgba(5,5,38,0.2);
    white-space: pre-line;
    padding: 15px;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mali', cursive;
  }

  .container {
    margin-bottom: 50px;
  }

  .input-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }

  .btn-primary{
    background-color: var(--pulse);
    border-color: var(--pulse);
    transition: all 0.1s ease-in;
  }

  .btn-primary:hover, .btn-primary:active {
    transform: scale(1.1);
  }

  textarea {
      width: 100%;
      height: 100%;
      resize: none;
    background-color: transparent;

    border-style: none;
    border-width: 0;
  }
</style>

<div class="container">
    <h1>check your lyrics</h1>
    <div class="row">
    <p style="margin-bottom: 25px;margin-top: 5px;width: 100%;">
        We have trained a model that spots content which is likely to be censored in 
        lyrics data. Just paste your lyrics below and press 'check'. The words and phrases 
        which may require a review will be highlighted according to the probability of
        being censored.
    </p> 
</div>
    <div class="row">
        <div class="col">
            <div class="row" style="display: flex !important; justify-content: center;">
                <div class="lyrics-wrapper">
                    <textarea id="query" placeholder="Paste your lyrics here."></textarea>
                </div>
                <div style="width: 20px; height: 100%;"></div>
                <div id="lyrics-wrapper" class="lyrics-wrapper">
                    <div id="result"></id>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="display: flex !important; flex-direction: column;">
        <div class="input-wrapper">
            <input id="submit" type="submit" class="btn btn-primary" value="Check">
        </div>
    </div>
</div>

<script>
var NUM_CHARS = 20
var total = [];

function queryText(text){
    var api_location = "http://fonil.mtg.upf.edu/predict";
    return $.ajax({
    url: api_location,
    data: {input: text},
    contentType:"applicaton/json",
    });
}

function uniq(a) {
    return a.sort().filter(function(item, pos, ary) {
        return !pos || item != ary[pos - 1];
    });
}

function updateDisplay(text, toxic){
    var finalString = ''
    for (let i = 0; i < text.length; i += NUM_CHARS) {
        var oriStr = $('#result').text();
        var oriStr_prev;
        var oriStr_i;
        var oriStr_next;
        if (i + NUM_CHARS >= text.length) {
            oriStr_prev = oriStr.slice(-i);
            oriStr_i = oriStr.slice(i);
            oriStr_next = '';
        }
        else {
            if (i == 0) {
                oriStr_prev = '';
            } else {
                oriStr_prev = oriStr.slice(0, i);
            }
            oriStr_i = oriStr.slice(i, i + NUM_CHARS);
            oriStr_next = oriStr.slice(i + NUM_CHARS);
        }
        
        if (i in toxic || toxic[i] >= 60) {
            if (i - Math.floor(NUM_CHARS / 2) in toxic) {
                toxic[i] = (toxic[i] + toxic[i - Math.floor(NUM_CHARS / 2)]) / 2;
            }
            if (toxic[i] >= 60) {
                var hue = 100 - parseFloat(toxic[i]);
                finalString += "<span style='background-color: hsl(" + hue + ", 100%, 90%);'>" + oriStr_i + "</span>"
            } else {
                finalString += oriStr_i;
            }
        } else {
            if (i - Math.floor(NUM_CHARS / 2) in toxic) {
                toxic[i] = (toxic[i] + toxic[i - Math.floor(NUM_CHARS / 2)]) / 2;
            }
            finalString += oriStr_i;
        }
    }
    $('#result').html("<p>"+ finalString +"</p>")
}

$("#submit").click(function() {
    $('#result').text("Loading ... ");
    $('#lyrics-wrapper').css('height', 'max-content');
    total = {};
    var text = $('#query').val();
    $('#result').text(text);
    console.log(text.length);
    text.split('.')[0];
    for(var i = 0 ; i < text.length; i += Math.floor(NUM_CHARS / 2)) {
        const printName = function(i) {
            queryText(text.substr(i, i + NUM_CHARS)).done(function(toxicCount){
            total[i] = parseFloat(toxicCount);
            updateDisplay(text, total);
        })};
        printName(i);
    }
    

    });
</script>
{% endblock %}
